form {
	/*background-color: red;*/
	width: 80%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	border-radius: 6px;
	box-shadow: 5px 10px #DADDE0;
	background-color: red;
}

mat-horizontal-stepper {
	width: 80%;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	background-color: yellow;
}

.stepperContent {
	width: 80%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
}

mat-form-field {
	width: 100%;
}

.checkboxLabel {
	font-weight: 100;
}

.flexContainer {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonContainer {
	margin-top: 20px;
}

.titleContainer {
	width: 80%;
}

mat-slide-toggle {
	margin-top: 20px;
}
