mat-horizontal-stepper {
	width: 70%;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
	border-radius: 6px;
	box-shadow: 5px 10px #DADDE0;
}

form {
	/*background-color: red;*/
	width: 90%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
}

mat-form-field {
	width: 100%;
}

.checkboxLabel {
	font-weight: 100;
	max-width: 80px;
}

.flexContainer {
	width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonContainer {
	margin-top: 20px;
}

.titleContainer {
	width: 80%;
}

mat-slide-toggle {
	margin-top: 20px;
}

.locationContainer {
	/*background-color: yellow;*/
	margin: 0px auto;
	width: 70%;
}
.locationChildCont {
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.1);
	text-align: left;
	min-height: 60px;
}
.locationChildCont > span{
	float: left;
	min-width: 85%;
}

.locationChildCont > mat-slide-toggle{
	margin-top: -4px;
}

.locationChildCont > mat-checkbox{
	margin-top: -4px;	
}

.childHeading {
	font-weight: 700;
}

.poster {
	background-color: red;
	min-width: 40%;
}

.priceContainer {
	display: flex;
	justify-content: space-between;
}

.key {
	min-width: 30%;
	border-right: 1px solid rgba(0,0,0,0.1);
}

.value {
	margin-left: 10px;
	min-width: 70%;
}

.confirmContainer {
       display: flex;
       min-height: 0px;
       justify-content: space-between;
       vertical-align: middle;
       background-color: #FAFAFB;
       cursor: default;
}

.confirmContainer:hover {
       color: #e91e63;
}

.value > textarea {
       width:100%;
       background-color: #FAFAFB;
       border: none;
       border-left: 1px solid rgba(0,0,0,0.1);
       padding-left: 5px; 
}
