
<mat-drawer-container class="example-container">

  <mat-drawer mode="side" opened="true">
    <button mat-button routerLink="/eventBooking" routerLinkActive="active current">
    <mat-icon>event</mat-icon>
      Event Booking
    </button>
    <!-- </a> -->

    <button mat-button routerLink="/roomBooking" routerLinkActive="active current">
    <mat-icon>room</mat-icon>
      Room Booking
    </button>

    <button mat-button (click)="getAllClubs()">
    <mat-icon>room</mat-icon>
      Get all clubs
    </button>
</mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>