/*router-outlet {
	min-height: 100px;
	background-color: red;
}*/

app-appbar {
	/*position: absolute;*/
	height: 60px;
}

app-side-nav {
	width: 100%;
	position: absolute;
	top: 63px;
	bottom: 63px;
}

app-footer {}