
<div *ngIf="!title; else formInfo">
  

</div>

<form [formGroup]="rForm" (submit)="addPost(rForm.value)">
<mat-form-field>
  <input matInput placeholder="title" formControlName="title">
</mat-form-field>
<p *ngIf="!rForm.controls['title'].valid && rForm.controls['title'].touched">{{titleAlert}}</p>
<!-- <p *ngIf="!rForm.controls['title'].valid">{{titleAlert}}</p> -->


<mat-form-field>
  <textarea matInput placeholder="description" formControlName="desc"></textarea>
</mat-form-field>

<mat-checkbox formControlName="check" name="checkName" value="1" true>Poster</mat-checkbox>
  

<input type="submit" [disabled]="!rForm.valid">

</form>


<ng-template #formInfo>
<p>{{title}}</p>
<p>{{desc}}</p>
</ng-template>