<div class="container parentContainer"
     fxLayout="column"
     fxLayout.xs="column"
     fxLayoutAlign=""
     fxLayoutGap.xs="0"
     >
	
	<div class="headerContainer">
		<h1>Event Room Booking App</h1>
	</div>
	
	<div class="formContainer"
	     fxLayout
	     fxLayout.xs="column"
	     fxLayoutAlign="center"
	     fxFlex="70%">
	  <div class="leftContainer" fxFlex="50%">
	  </div>
	  <div fxLayout="column" fxLayoutAlign="center center" class="rightContainer" fxFlex="50%">
	  	<form>
	  		<mat-form-field>
	  			<input matInput placeholder="Email">
	  		</mat-form-field>

	  		<mat-form-field>
	  			<input matInput type="password" placeholder="Password">
	  		</mat-form-field>

	  	</form>
	  	<button mat-button>Login</button>
	  	<a class="forgotPassword" href="">Forgot password?</a>
	  </div> 
	</div>

	<div class="footerContainer">
		Designed and Developed by CRIBBL Services
	</div>

</div>