<mat-toolbar color="primary">
    <span class="clubName" routerLink="/home">{{clubName}}</span>

    <!-- <a routerLink="/eventBooking"> -->
    <button mat-button routerLink="/eventBooking" routerLinkActive="active current">
    <mat-icon>event</mat-icon>
      Event Booking
    </button>
    <!-- </a> -->

    <button mat-button routerLink="/roomBooking" routerLinkActive="active current">
    <mat-icon>room</mat-icon>
      Room Booking
    </button>

    <span class="example-spacer"></span>
    
    <button class="menuButton" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

	<mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>face</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

<!-- <router-outlet></router-outlet> -->

