<mat-toolbar color="primary">
    <span class="clubName" routerLink="/home">ClubName and Logo</span>

    <span class="screenName">ScreenName</span>
    <!-- <a routerLink="/eventBooking"> -->
    <!-- <span class="example-spacer"></span> -->
    <button class="menuButton" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

	<mat-menu #menu="matMenu">
      <button mat-menu-item (click)="getUser()">
        <mat-icon>face</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

<!-- <router-outlet></router-outlet> -->

